<!-----------------------------------------------------
* Programmer: Lance Zotigh (lzotigh1@cnm.edu)
* Program: Project 5 Deprecation Application.
* Purpose: A simple program that calculates what the future depreciable value of an asset will be.
------------------------------------------------------->

@page "/calculator"

@inject SuccessfullyCalculatedResults CalculatedService

<!--Main Part of page-->
<div style="background-color:darkslateblue">
    <div style="padding:1vw;">
        <form action="~/index.html" method="get" style="color:white">
            <EditForm Model="@DepSL" OnValidSubmit="@SubmitButtonPressed">
                <DataAnnotationsValidator />

                Lifetime (In Years):
                <InputNumber id="DepricationStraightLine." @bind-Value="@DepSL.LifeTime"
                             name="principle" type="text" style="width:100%;" />
                <ValidationMessage For="@(() => DepSL.LifeTime)" />
                <br /><br />

                Salvage Value ($):
                <InputNumber id="DepricationStraightLine." @bind-Value="@DepSL.SalvageValue"
                             type="text" style="width:100%;" />
                <ValidationMessage For="@(() => DepSL.SalvageValue)" />
                <br /><br />

                Start Value ($):
                <InputNumber id="DepricationStraightLine." @bind-Value="@DepSL.StartValue"
                             type="text" style="width:100%;" />
                <ValidationMessage For="@(() => DepSL.StartValue)" />
                <br /><br />

                Title:
                <InputText id="DepricationStraightLine." @bind-Value="@DepSL.Title"
                           type="text" style="width:100%;" />
                <ValidationMessage For="@(() => DepSL.Title)" />
                <br /><br />

                Date Entered in Inventory:
                <InputDate id="DepricationStraightLine." @bind-Value="@DepSL.DateAddedToInventory"
                           type="date" style="width:100%;" />
                <ValidationMessage For="@(() => DepSL.DateAddedToInventory)" />
                <br /><br />

                Date Removed From Inventory:
                <InputDate id="DepricationStraightLine." @bind-Value="@DepSL.DateRemovedFromInventory"
                           type="date" style="width:100%;" />
                <ValidationMessage For="@(() => DepSL.DateRemovedFromInventory)" />
                <br /><br />

                <button type="button" @onclick="SubmitButtonPressed">Submit</button>
                <button type="button" @onclick="ClearButtonPressed">Clear</button>
            </EditForm>
        </form>
    </div>
    <div style="color:white">
        <p style="font-weight:bold">  End Value: $@Final.EndValue</p>
    </div>
</div>
<div>
    @UIMessage
</div>
<!--End of Main Part of page-->

@code {
    //initilizers
    DeprecationStraightLine DepSL = new DeprecationStraightLine();
    DeprecationStraightLine Final = new DeprecationStraightLine();
    string UIMessage = "";

    /// <summary>
    /// Handles the submit button event and adds a new object to the list.
    /// </summary>
    void SubmitButtonPressed()
    {
        if (DepSL.LifeTime > 0 && DepSL.SalvageValue > 0 && DepSL.StartValue > 0 &&  DepSL.Title != "" && DepSL.DateAddedToInventory != DateTime.MinValue && DepSL.DateRemovedFromInventory != DateTime.MinValue && DepSL.DateAddedToInventory != DepSL.DateRemovedFromInventory) {
            Final = new DeprecationStraightLine(DepSL.LifeTime, DepSL.SalvageValue, DepSL.StartValue, DepSL.Title, DepSL.DateAddedToInventory, DepSL.DateRemovedFromInventory);
            CalculatedService.CalculatedResults.Add(Final);
            UIMessage = "Calculation Successfully Received!";
        }
        else { UIMessage = "Calculation not accepted please ensure that all fields are correct and filled."; }
    }

    /// <summary>
    /// Handles the Remove button event clearing the values.
    /// </summary>
    void ClearButtonPressed()
    {
        DepSL.LifeTime = 0;
        DepSL.SalvageValue = 0;
        DepSL.StartValue = 0;
        DepSL.Title = "";
        DepSL.EndValue = 0;
        DepSL.DateAddedToInventory = default;
        DepSL.DateRemovedFromInventory = default;


        Final.LifeTime = 0;
        Final.SalvageValue = 0;
        Final.StartValue = 0;
        Final.Title = "";
        Final.EndValue = 0;
        Final.DateAddedToInventory = default;
        Final.DateRemovedFromInventory = default;

        UIMessage = "";
    }
}